@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&display=swap');

* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Comic Sans MS";
    src: url("./assets/fonts/COMIC.TTF");
    font-display: swap;
}

::-webkit-scrollbar {
    @apply w-2
}

::-webkit-scrollbar-track {
    @apply bg-white
}

::-webkit-scrollbar-thumb {
    @apply bg-off-red
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scroll-button:hover .scroll-icon {
    transform: rotateY(180deg);
}

input[type="number"] {
    -moz-appearance: textfield;
}

.text-stroke {
    -webkit-text-stroke: 1px white;
}

@media (min-width:1320px) {
    .mx-xl-0 {
        @apply !mx-0
    }
}

@media (min-width:1440px) {
    .ml-xl-8 {
        @apply -ml-8
    }
}